<div class="contaner-fluid">
<div class="row align-items-center">
  <div class="offset-sm-3 col-sm-6 input-styling">
    <div class="row input-heading">Banking Information</div>
    <div class="row input-sub-heading">Enter Credentials to Import your accounts and balances.</div>
    <div class="group">      
     <input type="text" required [(ngModel)]="user">
     <span class="highlight"></span>
     <span class="bar"></span>
     <label>Online Id</label>
   </div>
    <div class="group">      
        <input type="password" required [(ngModel)]="pass">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>     
    <div class="row justify-content-between col-sm-8">
    <div class="col-sm-6">
      <button class="btn back-btn" (click)="goBack()">Back</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="hitApi()">Enter</button>
    </div>
    <div *ngIf="isClick" class="login-information">
        <div *ngIf="isSuccess" class="alert alert-success" role="alert">
          <strong>Success</strong> You successfully logged in with user:{{user}}.
        </div>
          <div *ngIf="!isSuccess" class="alert alert-danger" role="alert">
            <strong>Oh snap!</strong>Please check the credentials once again.
          </div>

          Get Accounts for customer
    </div>
  </div>
</div>
</div>

