.image-tiles{
    margin-bottom: 10px;
    .img-block-1{
    .bank-box{
    height: 75px;
    width: 137px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    &:hover{
        box-shadow: 0px 0px 5px #282828;
    }
    .overlay{
    background: palegreen;
    opacity: 0.4;
    position: absolute;
    top: 0;
    color:transparent;
    transition: all 0.3s ease-in-out;
    &.active{
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px #000;
        }
    }
    .img-1{
        background: url("../../../../assets/logo_sprite.png") no-repeat 0% 0%;
        width: 100%;
        height: 100%;
    }
    .img-2{
        background: url("../../../../assets/logo_sprite.png") no-repeat 45.5% 0%;
        width: 100%;
        height: 100%;
    }
    .img-3{
        background: url("../../../../assets/logo_sprite.png") no-repeat 0% 30%;
        width: 100%;
        height: 100%;
    }
}
}
}