<div class="contaner-fluid">
  <div class="row align-items-center">
    <div class="offset-sm-3 col-sm-9 input-styling">
      <div class="row input-heading">Savings and Investments</div>
      <div class="image-tiles">
        <div class="row img-block-1">
          <div class="bank-box">
            <div class="img-1"></div>
            <div class="overlay"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
          </div>
          <div class="bank-box">
            <div class="img-2"></div>
            <div class="overlay"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
          </div>
          <div class="bank-box" (click)="selectBank(img-3)">
            <div class="img-3"></div>
            <div class="overlay" [ngClass]="{active:isClick === true}"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between col-sm-8">
        <div class="col-sm-6">
          <button class="btn back-btn" (click)="goBack()">Back</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-primary" (click)="loadNext()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>