  .progress-outer-bar {
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0;
  .progress-inner-bar {
    width: 10%;
    height: 7px;
    background-color: #FFA500;
    }
}
